
<section class="toolbar">
  <v-toolbar>
    <v-toolbar-side-icon></v-toolbar-side-icon>
    <img class="logo" src="../../assets/coffee_icon.png" alt="coffee_icon">
    <v-toolbar-title>{{ title }}</v-toolbar-title>
    <v-spacer></v-spacer>
    <v-toolbar-items>
      <v-btn to="/home" flat><v-icon>home</v-icon><span class="hidden-sm-and-down">Home</span></v-btn>
      <v-btn to="/list" flat><v-icon>assignment</v-icon><span class="hidden-sm-and-down">List</span></v-btn>
      <v-btn to="/profile" flat><v-icon>account_box</v-icon><span class="hidden-sm-and-down">Profile</span></v-btn>
      <v-btn to="/manage" flat><v-icon>settings</v-icon><span class="hidden-sm-and-down">Settings</span></v-btn>
    </v-toolbar-items>
  </v-toolbar>
</section>

