
<section class="manage">
  <h1>manage Component</h1>
  <v-container>
    <v-layout>
      <v-flex sm12 md6>
        <v-card color="cyan darken-2" class="white--text" v-ripple to="/manage/users">
          <div>
            <div class="bg-img">
              <v-icon>supervised_user_circle</v-icon>
            </div>
            <v-btn block>Users</v-btn>
          </div>
        </v-card>
      </v-flex>
      <v-flex sm12 md6>
        <v-card color="purple" class="white--text" v-ripple  to="/manage/products">
          <div>
            <div class="bg-img">
              <v-icon>restaurant</v-icon>
            </div>
            <v-btn block>Products</v-btn>
          </div>
        </v-card>
      </v-flex>
    </v-layout>
  </v-container>
</section>

